<!DOCTYPE html>
<html>
<head>
  <title>PC_template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./template-sty.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./template-script.js"></script>
</head>
<body>

<!-- Navigation bar -->
    <ul>
      <img class="nav" id="profile" src="./img/profile_pic.png">
      <img class="nav" id="logo" src="./img/logo.png">
      <img class="nav" id="menu" src="./img/options.png">
      <img class="nav" id="login" src="./img/login.png">
    </ul>


  <!-- Menu -->
  <div class="menu">
  <form>
    <button class="option" id="home" formaction=""><i class="fa fa-home"></i> HOME</button><br>
    <button class="option" id= "list" formaction=""><i class="fa fa-list-alt"></i> MY PLAYLISTS</button><br>
    <button class="option" id="help" formaction=""><i class="fa fa-question-circle"></i> HELP</button>
  </form>
</div>

  <div class="menu">
    <img class="person" id="boy1" src="./img/boy1.png"><br>
    <img class="person" id="girl" src="./img/girl.png"><br>
    <img class="person" id="boy2" src="./img/boy2.png">
  </div>


    <div class="row">
      <br>
  <!--Search engine -->
  <div class="search-container">
   <form action="/action_page.php">
     <input type="text" placeholder="LET'S EXPLORE!" name="search">
     <button type="submit"><i class="fa fa-search"></i></button>
   </form>
 </div>

<!--Playlists -->
<div class="playlists">
      <h1>Recommended Videos</h1>
<img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png">

  <h1>Movies</h1>
  <img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png">

  <h1>TV Series</h1>
  <img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png">

  <h1>Trending</h1>
  <img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png"><img class="video" src="./img/v1.png">

</div>

    </div>


  <!-- Footer -->
    <div class="footer col-12 col-m-12">
      <br>
        <p><a class="link">FAQs</a> &emsp; | &emsp; <a class="link">About Us</a> &emsp; | &emsp; <a class="link">Contact</a></p>
    </div>

</body>
</html>
