body {
  margin: 0;
  font-family:"Comic Sans MS";
  font-size: 17px;
  margin-left: 420px;
  margin-top: 280px;
}
html{
  background: url("../img/Children Background Images - WallpaperSafari.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input {
    width : 300px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid #4CAF50;
    text-align: left;
    color: #a6a6a6;
    font-family:"Comic Sans MS";
    color: black;
    padding-left: 10px;
}
form
{
	float: left;
}
.button
{
	float: right;
	position: relative;
	width : 100px;
    height: 30px;
    margin-right: 20px;
    background-color: white;
    text-align: center;
    font-family:"Comic Sans MS";
    color: black;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 10px;
}
.button:hover
{
	background-color: #4CAF50;
	color: white;
	border: 2px solid #a6a6a6;

}
.error
{
	position: relative;
	float: left;
	clear: both;
	margin-left: 10px;
}
.down
{
	clear: both;
}
a
{
	text-decoration: none;
	float: left;
	margin: 15px;
	color: #a6a6a6;
	margin-left: 50px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#4CAF50;
}

a:active {
    text-decoration: underline;
    color:#4CAF50;
}